<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @skill.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @skill.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @skill.price %>
  </p>

  <%= link_to 'Edit', edit_skill_path(@skill) %> |

</div>
<%= link_to 'Volver', skills_path, class:"btn btn-primary btn-lg btn-block" %>
